ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ADMIN_TOKEN=
SITE_URL=https://sub-v2.xqd.pp.ua
SINK_URL=
SINK_TOKEN=
CUTTLY_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_KV_NAMESPACE_ID=
